node_modules/
dist/
.env
.claude

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/uploads/
backend/.wwebjs_auth/
backend/.wwebjs_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Prisma
backend/prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
